<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        @using ModelFun.Models
        @model Content
    <h1>Here is a Message!</h1>
    <p>@Model.content</p>

    
</body>
</html>