<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <h1>Look at my numbers</h1>
@using ModelFun.Models
@model Number
@{
    

    foreach(var num in @Model.list){
        <h1>@num</h1>
    }

    
}

</body>
</html>