<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>heres all the mofos to be users </h1>
    @using ModelFun.Models
    @model User
        @{
        
    
        foreach(var user in @Model.users){
            <p>@user</p>
        }
    
        
        }
</body>
</html>